[Unit]
Description=1.6-rebuild wired daemon
SourcePath=/usr/bin/wired

ConditionFileIsExecutable=/usr/bin/logwrapper
ConditionFileIsExecutable=/usr/bin/wired

[Service]
Restart=onfailure
RestartSec=10
ExecStart=/usr/bin/logwrapper /usr/bin/wired

[Install]
WantedBy=multi-user.target
